body {
  background: linear-gradient(-45deg, #23293E, #4e5973, #8A2387, #E94057, #F27121);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* Питання */
.question {
  margin-top: 200px;
}

.emojis {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.emoji-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  position: relative;
}

.emoji {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.emoji:hover {
  transform: translateY(-10px);
}

.emoji-text {
  margin-top: 10px;
  font-size: 16px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.emoji-wrapper:hover .emoji-text {
  opacity: 1;
}

/* Календар */
.calendar-wrapper {
  border: 2px solid white;
  border-radius: 12px;
  padding: 20px;
  margin: 30px auto;
  max-width: 600px;
  background-color: #2e3450;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.calendar-wrapper h2 {
  margin-bottom: 15px;
}

#calendar,
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.day {
  background-color: #3b4259;
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px;
}